<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MyCareerMate{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}

  <nav class="navbar">
      <h2>MyCareerMate</h2>
      <ul>
          <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
  </nav>

  <div class="container">
      {% block content %}{% endblock %}
  </div>
</body>
</html>
