{% extends 'base.html' %}
{% block content %}
<h2>Upload Profile Picture</h2>
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="profile_pic" required><br><br>
    <input type="submit" value="Upload">
    <a href="https://www.flaticon.com/free-icons/young" title="young icons">Young icons created by Freepik - Flaticon</a>

    <a href="https://www.flaticon.com/free-icons/female" title="female icons">Female icons created by Prosymbols Premium - Flaticon</a>
</form>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% endblock %}
